body, html {
	margin:0;
	padding:3;
	background-image: url(../images/page_bck.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	height: 100%;
} 

tbody { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

table.main {
	border: 1px solid #000000;
}

table.right {
	background-image: url(../images/left_bck.gif);
}

td.right {
	background-image: url(../images/menu_bck.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 0px;
	height: 150px;
}


td.right1 {
	background-image: url(../images/left_btm.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 45px;
}

table.content {
	background-image: url(../images/main_bck.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 370px;
}

td.content {
	background-image: url(../images/mos_flower.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
}

/* Default MOS Class Settings
**********************************************************************************************************/

td.pathway {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	padding-top: 1px;
	padding-left: 20px;
}

a.pathway:link, a.pathway:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

a.pathway:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}

/* Links
**********************************************************************************************************/

a.mainlevel:link, a.mainlevel:visited {
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #C8E95A;
	padding-left: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
}

a.mainlevel:hover {
	color: #333333;
	text-align: left;
	background-color: #DBE2DA;
	width: 100%;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #DBE2DA;
}

a.mainmenu:link, a.mainmenu:visited {
	color: #666666; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

a.mainmenu:hover, {
	color: #333333;
	text-align: left;
}

a.sublevel:link, a.sublevel:visited {
	color: #666666; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

a.sublevel:hover {
	color: #333333;
	text-align: left;
}

/* Module Styles
**********************************************************************************************************/

table.moduletable {
	width: 178px;
	text-align: center;
	margin-top: 10px;
	border: 0px solid #C8E95A;
	padding-left: 0px;
	background-image: url(../images/mod_tbl_bck.gif);
}

table.moduletable th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color : #000000;
	text-align : center;
	background-image: url(../images/mod_title_bck.gif);
	height: 25px;
	padding-top: 8px;
}

table.moduletable td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	padding-left: 10px;
	/*background-image: url(../images/mod_tbl_bck.gif);*/
}

table.moduletablemenu {
	width: 178px;
	text-align: center;
	margin-right: 0px;
	margin-left: 0px;
}

table.moduletablemenu th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color : #000000;
	text-align : center;
	height: 21px;
	padding-top: 8px;
}

table.moduletablemenu td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
}


/* Polls Style
**********************************************************************************************************/

.poll {
	color : #000000;
	line-height : 12px;
	font-weight: bold;
}

/* Sections Style
**********************************************************************************************************/

.sectiontableheader {
	background-color : #B9C4C9;
	color : #FFFFFF;
	font-weight : bold;
	font-size: 11px;
	line-height: 13px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}

.sectiontableentry1 {
	font-size: 11px;
	background-color : #909DA1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
}

.sectiontableentry2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color : #AFBCC0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
}

.pagenav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}

a.pagenav:link, a.pagenav:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}

a.pagenav:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}


/*****************************************************************************************************/

.small {
	font-size : 11px;
	color : #000000;
}

.smalldark {
	font-size : 11px;
	color : #000000;
	text-decoration : none;
}

.createdate {
	font-size : 10px;
	color : #000000;
	text-decoration : none;
	font-weight : medium;
}

.modifydate  {
	font-size : 10px;
	color : #000000;
	text-decoration : none;
	font-weight : medium;
}

/* Content Styles
**********************************************************************************************************/

.contentpane {
	font-size: 11px;
	color: #000000;
}

.contentpaneopen {
	font-size: 11px;
	color: #000000;
}

.contentheading, .componentheading {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 15px;
	font-weight : bold;
	color : #31484E;
	text-align : left;
	line-height: 25px;
	padding-left: 20px;
}
.category {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

a.category:link, a.category:visited {
  color            : #000000;
  font-weight      : bold;
}

a.category:hover {
  color            : #FFFFFF;
}

/* Form Styles
**********************************************************************************************************/

form { 
	display:inline; 
	margin: 0px; 
	padding: 0px; 
} 

.button {
  font-family      : Arial, Helvetica, sans-serif;
  font-style       : normal;
  font-size        : 10px;
  font-weight      : bold;
  background-color : #F0F0F0;
  color            : #000000;
  border           : 1px solid #CCCCCC;
}

.inputbox {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-size        : 10px;
  color            : #000000;
  background-color : #F0F0F0;
  border           : 1px solid #CCCCCC;
}

/* Links
**********************************************************************************************************/

a:link, a:visited {
	font-size        : 11px;
	color            : #000000;
	text-decoration  : none;
	font-weight: bold;
}

a:hover {
  color            : #FFFFFF;
  text-decoration  : none;
}

/* For content item titles that are hyperlink instead of Read On
**********************************************************************************************************/

a.contentpagetitle:link, a.contentpagetitle:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
 	color: #666666;
	text-align:left;
	}

a.contentpagetitle:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align:left;
	color: #333333;
	text-decoration: underline;
	font-weight: bold;
	}

.description {
	font-size: 11px;
	color: #000000;
}

/* Styles for dhtml tabbed-pages */
.ontab {
	background-color: #ffae00;
	border-left: outset 2px #ff9900;
	border-right: outset 2px #808080;
	border-top: outset 2px #ff9900;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	cursor: hand;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.offtab {
	background-color : #e5e5e5;
	border-left: outset 2px #E0E0E0;
	border-right: outset 2px #E0E0E0;
	border-top: outset 2px #E0E0E0;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	cursor: hand;
	font-weight: bold;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.tabheading {
	background-color: #ffae00;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.pagetext {
	visibility: hidden;
	display: none;
	position: relative;
	top: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

/* for modifying {moscode} output.  Don't set the colour! */
.moscode {
	background-color: #f0f0f0;
}

/* Text passed with mosmsg url parameter */
.message {
	font-weight: bold;
	font-size : 10pt;
	color : #ff6600;
	text-align: center;
}