body, html {

	margin:0;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #000000;

	background-color: #E7EAF3;
} 



tbody { 

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #000000;

}

td.content {

	background-image: url(../images/main_bck.gif);

	background-repeat: repeat-x;

	background-position: left bottom;

}



/* Default MOS Class Settings

**********************************************************************************************************/



td.pathway {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #000000;

	padding-top: 1px;

	padding-left: 0px;

}



a.pathway:link, a.pathway:visited {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #000000;

}



a.pathway:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #666666;

	background-color: transparent;

}



/* Main Menu Styles

**********************************************************************************************************/



a.mainlevel:link, a.mainlevel:visited {

	color: #666666;

	text-align: left;

	font-weight: bold;

	border-left-width: 3px;

	border-left-style: solid;

	border-left-color: #24A1EC;

	padding-left: 5px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	line-height: 15px;

}



a.mainlevel:hover {

	color: #FFFFFF;

	text-align: left;

	background-color: #000000;

	width: 98%;

	border-left-width: 3px;

	border-left-style: solid;

	border-left-color: #F71919;

}



a.mainmenu:link, a.mainmenu:visited {

	color: #000000; 

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

}



a.mainmenu:hover, {

	color: #666666;

	text-align: left;

}



a.sublevel:link, a.sublevel:visited {

	color: #000000; 

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

}



a.sublevel:hover {

	color: #666666;

	text-align: left;

}



/* Module Styles

**********************************************************************************************************/
table.moduletable {

	width: 100%;

	text-align: center;

	margin-right: 0px;

	margin-left: 0px;

}

table.moduletable th {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size : 12px;

	font-weight : bold;

	color : #000000;

	text-align : center;

	height: 20px;

	padding-top: 5px;

}

table.moduletable td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	padding-left: 5px;

}



/* Polls Style

**********************************************************************************************************/



.poll {

	color : #666666;

	line-height : 12px;

	font-weight: bold;

}



/* Sections Style

**********************************************************************************************************/



.sectiontableheader {

	background-color : #CCCCCC;

	color : #000000;

	font-weight : bold;

	font-size: 11px;

	line-height: 13px;

}



.sectiontableentry1 {

	font-size: 11px;

	background-color : #E4E4E4;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #000000;

}



.sectiontableentry2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	background-color : #DADADA;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #000000;

}



.pagenav {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: bold;

	color: #000000;

}



a.pagenav:link, a.pagenav:visited {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: bold;

	color: #000000;

}



a.pagenav:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: bold;

	color            : #000000;

	text-decoration  : none;

	background-color: #63C2FB;

}





/*****************************************************************************************************/



.small {

	font-size : 11px;

	color : #666666;

}



.smalldark {

	font-size : 11px;

	color : #333333;

	text-decoration : none;

}



.createdate {

	font-size : 10px;

	color : #666666;

	text-decoration : none;

	font-weight : medium;

}



.modifydate  {

	font-size : 10px;

	color : #666666;

	text-decoration : none;

	font-weight : medium;

}



/* Content Styles

**********************************************************************************************************/



.contentpane {

	font-size: 11px;

	color: #000000;

}



.contentpaneopen {

	font-size: 11px;

	color: #000000;

}



.contentheading, .componentheading {

	font-family : Verdana, Arial, Helvetica, sans-serif;

	font-size : 14px;

	font-weight : bold;

	color : #FF6633;

	text-align : left;

	line-height: 16px;

	padding-left: 20px;

}

.category {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: bold;

	color: #000000;

}



a.category:link, a.category:visited {

  color            : #333333;

  font-weight      : bold;

}



a.category:hover {

	color            : #000000;

	text-decoration  : none;

	background-color: #63C2FB;

}



/* Form Styles

**********************************************************************************************************/



form { /* borrowed from mambosolutions.com -- to fix empty space issues */

	display:inline; 

	margin: 0px; 

	padding: 0px; 

} 



.button {

  font-family      : Arial, Helvetica, sans-serif;

  font-style       : normal;

  font-size        : 10px;

  font-weight      : bold;

  background-color : #F0F0F0;

  color            : #000000;

  border           : 1px solid #000000;

}



.inputbox {

  font-family      : Verdana, Arial, Helvetica, sans-serif;

  font-size        : 10px;

  color            : #000000;

  background-color : #F0F0F0;

  border           : 1px solid #000000;

}



/* Links

**********************************************************************************************************/



a:link, a:visited {

  font-size        : 11px;

  color            : #333333;

  text-decoration  : none;

}



a:hover {

	color            : #000000;

	text-decoration  : none;

	background-color: #63C2FB;

}



/* For content item titles that are hyperlink instead of Read On

**********************************************************************************************************/



a.contentpagetitle:link, a.contentpagetitle:visited {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

 	color: #000000;

	text-align:left;

	}



a.contentpagetitle:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

	text-align:left;

	color            : #000000;

	text-decoration  : none;

	background-color: #63C2FB;

	}



.description {

	font-size: 11px;

	color: #000000;

}



/* Styles for dhtml tabbed-pages */

.ontab {

	background-color: #ffae00;

	border-left: outset 2px #ff9900;

	border-right: outset 2px #808080;

	border-top: outset 2px #ff9900;

	border-bottom: solid 1px #d5d5d5;

	text-align: center;

	cursor: hand;

	font-weight: bold;

	color: #FFFFFF;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

}

.offtab {

	background-color : #e5e5e5;

	border-left: outset 2px #E0E0E0;

	border-right: outset 2px #E0E0E0;

	border-top: outset 2px #E0E0E0;

	border-bottom: solid 1px #d5d5d5;

	text-align: center;

	cursor: hand;

	font-weight: bold;

	color: #000000;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

}



.tabheading {

	background-color: #ffae00;

	text-align: left;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

}



.pagetext {

	visibility: hidden;

	display: none;

	position: relative;

	top: 0;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #000000;

}



/* for modifying {moscode} output.  Don't set the colour! */

.moscode {

	background-color: #f0f0f0;

}



/* Text passed with mosmsg url parameter */

.message {

	font-weight: bold;

	font-size : 10pt;

	color : #ff6600;

	text-align: center;

}